<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
        <form class="text-center" (ngSubmit)="onSubmit()" #wardSearchForm="ngForm">
            <div class="form-group">
                <label
                        for="name"
                        class="control-label">Name</label>
                <input
                        type="string"
                        id="name"
                        name="name"
                        ngModel
                        class="form-control text-center">
            </div>
            <div class="form-group">
                <label
                        for="city"
                        class="control-label">City</label>
                <input
                        type="string"
                        id="city"
                        name="city"
                        ngModel
                        class="form-control text-center">
            </div>
            <div class="form-group">
                <label
                        for="state"
                        class="control-label">State</label>
                <input
                        type="string"
                        id="state"
                        name="state"
                        ngModel
                        class="form-control text-center">
            </div>
            <button class="btn btn-primary" style="margin-right: 5px;" type="submit" [disabled]="wardSearchForm.invalid">Search Ward</button>
            <button class="btn btn-primary" (click)="onCreateWard()">Create Ward</button>
        </form>
    </div>
</div>
<hr>
<!--<div id="myGrid" style="height: 150px;width: 600px" class="ag-theme-balham"></div>-->
<div id="grid-container">
    <ag-grid-angular
             #agGridAngular
             [gridOptions]="gridOptions"
             [rowData]="gridOptions.rowData"
             [columnDefs]="gridOptions.columnDefs"
             style="width: auto; height: 70vh;"
             class="ag-theme-balham"
             [modules]="modules">
    </ag-grid-angular>
</div>
