<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
        <h3>Administrator Dashboard</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
        <div style="align-items: center">
            <div style="color: #0091EA; text-align:center;border:1px solid whitesmoke;height: 150px; width: 150px; margin-right: 10px;"> User Administration</div>
            <div style="text-align:center;border:1px solid whitesmoke;height: 150px; width: 150px; margin-right: 10px;"> Role Administration</div>
            <button class="btn btn-primary">User Administrator</button>
        </div>
    </div>
</div>
