<div class="row" *ngIf="didFail" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
    <div class="alert alert-danger">Something went wrong, please try again!</div>
  </div>
</div>
<div class="row" *ngIf="formName === 'signIn'">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form class="text-center jumbotron" (ngSubmit)="onSubmit()" #usrForm="ngForm">
      <div class="form-group">
        <label
          for="username"
          class="control-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <div class="form-group">
        <label
          for="password"
          class="control-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <button class="btn btn-primary" style="margin-right: 10px;" type="submit" [disabled]="usrForm.invalid">Submit</button>
      <div style="margin-top: 5px;">
        <a (click)="forgotPasswordForm()" style="margin-right: 10px;">forgot password?</a>
        <a (click)="confirmUserForm()">Confirm User Account</a>
      </div>
    </form>
    <div class="loader" *ngIf="isLoading"></div>
  </div>
</div>
<div class="row" *ngIf="formName === 'forgotPassword'">
  <form class="text-center jumbotron" (ngSubmit)="onRetrievePassword()" #forgotPwdForm="ngForm">
    <div>
      <label
              for="email">Email/User Name</label><label style="margin-right: 10PX;margin-left: 5px;color: #e53935;">*</label>
      <input
              type="text"
              id="email"
              name="email"
              style="margin-right: 10px;"
              ngModel
              required>
      <button class="btn btn-primary" type = "submit" [disabled]="forgotPwdForm.invalid">Submit</button>
    </div>
    <div>
      <label style="color: #e53935; margin-top: 5px;">Note: confirmation code will be sent to the registered email address.</label>
    </div>
  </form>
</div>
<div class="row" *ngIf="formName === 'changePassword'">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form #confirmPwdForm="ngForm" (ngSubmit)="onChangePassword()" class="jumbotron text-center">
      <div class="form-group">
        <label
                for="confirmEmail"
                class="control-label">Email/User Name</label><label style="margin-left: 5px;color: #e53935;">*</label>
        <input
                type="text"
                id="confirmEmail"
                name="confirmEmail"
                ngModel
                class="form-control text-center"
                required>
      </div>
      <div class="form-group">
        <label
                for="confirmationCode"
                class="control-label">Confirmation Code</label><label style="margin-left: 5px;color: #e53935;">*</label>
        <input
                type="text"
                id="confirmationCode"
                name="confirmationCode"
                ngModel
                class="form-control text-center"
                required>
      </div>
      <div class="form-group">
        <label
                for="newPassword"
                class="control-label">New Password</label><label style="margin-left: 5px;color: #e53935;">*</label>
        <input
                type="password"
                id="newPassword"
                name="newPassword"
                ngModel
                class="form-control text-center"
                required>
      </div>
      <div class="form-group">
        <label
                for="confirmPassword"
                class="control-label">Confirm Password</label><label style="margin-left: 5px;color: #e53935;">*</label>
        <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                ngModel
                class="form-control text-center"
                required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="confirmPwdForm.invalid">Change Password</button>
    </form>
    <div class="loader" *ngIf="isLoading"></div>
  </div>
</div>
<div class="row" *ngIf="formName === 'confirmUser'">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form #confirmForm="ngForm" (ngSubmit)="confirmUser()" class="jumbotron text-center">
      <div class="form-group">
        <label
                for="usrName"
                class="control-label">Username</label>
        <input
                type="text"
                id="usrName"
                name="usrName"
                ngModel
                class="form-control text-center"
                required>
      </div>
      <div class="form-group">
        <label
                for="validationCode"
                class="control-label">Validation Code</label>
        <input
                type="text"
                id="validationCode"
                name="validationCode"
                ngModel
                class="form-control text-center"
                required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="confirmForm.invalid">Confirm your Account</button>
    </form>
    <div class="loader" *ngIf="isLoading"></div>
  </div>
</div>

