<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
        <h3>Create User</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
        <form class="text-center" (ngSubmit)="onSubmit()" #createUserForm="ngForm">
            <div class="form-group">
                <label
                        for="name"
                        class="control-label">Name</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="name"
                        name="name"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="username"
                        class="control-label">User Name</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="username"
                        name="username"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="email"
                        class="control-label">Email</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="email"
                        name="email"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="address"
                        class="control-label">Address</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="address"
                        name="address"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="address"
                        class="control-label">Phone</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="integer"
                        id="phone"
                        name="phone"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="school"
                        class="control-label">School</label>
                <select
                        id = "school"
                        name = "school"
                        class = "form-control"
                        >
                    <option>--- Choose your school ---</option>
<!--                    <option *ngFor="let school for schools" [ngValue]="school">{{ school }}</option>-->
                </select>
<!--&lt;!&ndash;                <input&ndash;&gt;-->
<!--&lt;!&ndash;                        type="string"&ndash;&gt;-->
<!--&lt;!&ndash;                        id="school"&ndash;&gt;-->
<!--&lt;!&ndash;                        name="school"&ndash;&gt;-->
<!--&lt;!&ndash;                        ngModel&ndash;&gt;-->
<!--&lt;!&ndash;                        class="form-control text-center"&ndash;&gt;-->
<!--&lt;!&ndash;                        required>&ndash;&gt;-->
            </div>
            <button class="btn btn-primary" style="margin-right: 5px;" type="submit" [disabled]="createUserForm.invalid">Create User</button>
        </form>
    </div>
</div>
<hr>
