<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
        <h3>Create Ward</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
        <form class="text-center" (ngSubmit)="onSubmit()" #wardForm="ngForm">
            <div class="form-group">
                <label
                        for="name"
                        class="control-label">Name</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="name"
                        name="name"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="city"
                        class="control-label">City</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="city"
                        name="city"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="state"
                        class="control-label">State</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="state"
                        name="state"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="email"
                        class="control-label">Email</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="email"
                        name="email"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="address"
                        class="control-label">Address</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="string"
                        id="address"
                        name="address"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <div class="form-group">
                <label
                        for="phone"
                        class="control-label">Phone</label><label style="margin-left: 5px;color: #e53935;">*</label>
                <input
                        type="number"
                        id="phone"
                        name="phone"
                        ngModel
                        class="form-control text-center"
                        required>
            </div>
            <button class="btn btn-primary" style="margin-right: 5px;" type="submit" [disabled]="wardForm.invalid">Create Ward</button>
            <button class="btn btn-primary" (click)="onSearchWard()">Search Ward</button>
        </form>
    </div>
</div>
<hr>
